@import 'google-homepage';
@import url('https://fonts.googleapis.com/css?family=Sacramento');
@import 'animate';

svg, p{
  position: absolute;
}

#stache{
   animation: wiggle 1s 1.8s infinite; 
}

@keyframes wiggle {
  from, to {
    transform: translate3d(0, 0, 0);
  }

  10%, 30%, 50%, 70%, 90% {
    transform: translate3d(-3px, 0, 0);
  }

  20%, 40%, 60%, 80% {
    transform: translate3d(3px, 0, 0);
  }
}

.taco{
  width:180px;
  height:180px;
  left:320px;
  top:0px;
  transform:rotate(15deg);
  animation:slideInLeft 1.8s;
}

.truck{
  animation: slideInLeft 1.5s;
  height:200px;
  width:360px;
  left:250px;
  top:130px;
}

.hat{
  top:-75px;
  width:100px;
  left:330px;
  transform: translateY(-3000px);
  animation: bounceInDown 1s 1.8s;
  animation-fill-mode: forwards;
}

p{
 font-family: 'Sacramento', cursive;
}

.tuesday{
    bottom:0;
    height:90px;
    left:40px;
}

#logo{
  animation: slideInLeft 1.5s;
  font-size:58px;
  left:360px;
  top:160px;
}

#logo .char2, .char6{
    color:#eb5b50;
}

#logo .char1, .char4{
    color:#4285f4;
}

#logo .char5{
    color:#0f9d58
}

#logo .char3{
    color:#f4b400;
}


#banner{
 color:white;
 left:300px;
 bottom:-30px;
 font-size:36px;  
}







